<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377349051863-n9mdrq564d8cakue81haiovfohl488k9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377349051863-n9mdrq564d8cakue81haiovfohl488k9</string>
	<key>API_KEY</key>
	<string>AIzaSyCyxz8trIfGJhEKxkog6upBK4dS8Ql2pac</string>
	<key>GCM_SENDER_ID</key>
	<string>377349051863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.attendanceTracker</string>
	<key>PROJECT_ID</key>
	<string>ttendance-tracker-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ttendance-tracker-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377349051863:ios:7ca0ec68eb389677916792</string>
</dict>
</plist>